<br><br>
<h4 class="display-4" >Lista de Categorias</h4>
<br>
<table class="table table-dark table-sm">
    <thead>
        <tr>
            <th style="text-align: center;"  scope="col">Nombre</th>
            <th style="text-align: center;"  scope="col">Tipo</th>
            <th style="text-align: center;"  scope="col">Descripción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dato of DATOS"  >
            <th style="text-align: center;">{{dato.nombre}}</th>
            <th style="text-align: center;">{{dato.tipo}}</th>
            <th style="text-align: center;">{{dato.descripcion}}</th>
        </tr>
    </tbody>
</table>