
<app-header [onclick]="1" ></app-header>
<div class="row">
    <div class="col-2" style="height:90vh">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>