<i  (click)="_toggleSidebar()" class="fa fa-th-large fa-4x" style="cursor: pointer;" ></i>
<ng-sidebar-container>
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" >
        <div *ngFor="let route of routes" >
            <a *ngIf="route.link!=''" 
            style="cursor: pointer;"
            (click)="goToNavigate(route.link)"
            class="list-group-item">
                <i class={{route.icon}}></i><br>
                <span>{{route.title }}</span>
            </a>
        </div>
    </ng-sidebar>
</ng-sidebar-container>