<br>
<ngb-alert *ngIf="ERROR_LOGIN" [dismissible]="false" style="width:100vw" type="danger" >
    <strong>Error!</strong> Credenciales incorrectos. Intente nuevamente.
</ngb-alert>

<div class="container" style="background-color:black; ">
    <div class="row">
        <div class="col-md-1 hidden-xs hidden-sm">   
          <div class="border-login"></div>
        </div>
      
        <div class="col-sm-12 col-xs-12 col-md-4">            
           <div class="space-top">
                <h3 class="text-center">Login</h3>
                <label class=""> Usuario </label>                
                <input  #alias  type="text" class="form-control" placeholder="" required autofocus>
                <label class=""> Contraseña </label>
                <input #contrasenia  type="password" class="form-control" placeholder="" required>
                <button (click)="login(alias.value, contrasenia.value)" class="btn btn-lg btn-primary btn-block" type="submit"> Entrar </button>   
            </div>
        </div>
    </div>
</div>

