
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


h3{
  color:#ecf0f1;
}

p{
  padding-top:10px;
  color:#ecf0f1;
  font-size:1.0em;
}


a{
  color:#f1c40f;  
}


 a:hover {
    color: #efa039;
    text-decoration: none;
}

label {
  color:#ecf0f1;
  padding-top:10px;
  font-size:1.6rem;
}

.label-register{
 color:rgba(0, 109, 128, 0.52);
}

button{
  margin-top:20px;
}

.border-login{
  border-right:1px solid #fff;
  min-height:450px;
  float:right;
}

.space-top{
  padding-top:50px;
}


.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 0;
}

.container{
    margin-top:10vh;
    margin-bottom:10vh;
}