/* You can add global styles to this file, and also import other style files */
body{
    width: 90vw;
    height:90vh;
    background-color: white;
    font-size:13.4px;
}

.ng-sidebar{
    background-color: #002b58;
    width: 12rem;
    margin-top: 10px;
    margin-bottom: 10px;
}